body {
    background-image:
    url(photo/kjmn.jpg) ;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


header {
    background-color: #363434;
    color: white;
    padding:3px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:'Courier New', Courier, monospace
    font-size 3px;
}

.listings {
    padding: 3em;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.phone-card {
    border: 1px solid #f10505;
    padding: 1em;
    width: 370px;
    background-color:#b7a9a9;
}
ul{
    color: rgb(232, 12, 12);
}
a{
    color: #a5f407;
}

.phone-card img {
    max-width: 150%;
    height: 300px;
}
footer{
    background-color: #0a0810;
    color: #f0f2f2;
    height: 30px;
    text-align: center; 
}
